<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" type="text/css"></link>
        <title>CCS Parking</title>
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                  <a class="navbar-brand">College of Creative Studies Parking</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li class="active"><a href="{{ url_for('about') }}">About</a></li>
                </ul>
            </div>
        </nav>

        <div class="container">
            <div class="panel panel-default">
                <div class="panel-heading">CCS Parking Spot Detection Project</div>
                <div class="panel-body">
                    This website was created for CCS Computing 1L by Jared Fitton and Akshay Heda.
                    The goal of this project was to allow faculty and staff of CCS to
                    determine if there are parking spots open behind the CCS building.
                    We would like to thank Professor Conrad for all his help in guiding this project.
                </div>
                <div class="panel-body">
                    This project was built using python, OpenCV, flask, and html/css.
                </div>
                <div class="panel-body">
                    Future ambitions for this project include:
                    <br/>
                    <ul>
                        <li>Use computer vision to detect amount of available parking spaces</li>
                        <li>Provide push notifications to CCS staff when parking spaces become available</li>
                        <li>Analyze historical data to provide you with the best times to park</li>
                        <li>Spread camera coverage to include all CCS parking lots</li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">How Can You Help?</div>
                <div class="panel-body">
                    In order to implement more features we will need to install an outward
                    facing camera that can monitor the half of the parking lot that is closest to the
                    Santa Rosa Resident Hall. Being able to observe the back parking lot from two angles
                    will allow us to have a good enough field of view to properly detect cars using
                    computer vision.
                </div>
                <div class="panel-body">
                    <h4>Spread the Love!</h4>
                    <ul>
                        <li>Share this website with other CCS faculty</li>
                        <li>Let us know what other features you want</li>
                        <li>Enjoy the benefits of not wasting time finding parking</li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Contact</div>
                <div class="panel-body">
                    For feature requests and feedback please feel free to reach out to us! <br/>
                    <br/>Jared Fitton: jaredfitton@ucsb.edu<br/>
                    <br/>Akshay Heda: akshayheda@ucsb.edu
                </div>
            </div>
        </div>
    </body>
</html>
